.top-categories{
    margin-top: 80px;
    width: 100%;
    height: auto;
}

.categroy-item{
    height: 424px;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
    border-radius: 10px;
    display: inline-block;
    .image img{
        height: 424px;
        width: 100%;
        object-fit: cover;
        transition: all 0.3s ease-in-out;
    }
    .content {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: rgba(#000000, 0.7);
        padding: 20px;
        transition: background-color 0.3s ease-in-out;
        h3{
            font-size: 20px;
            color: #fff;
            font-weight: 600;
            margin-bottom: 5px;
        }
        small{
            font-size: 14px;
            color: #fff;
        }
    }
    &:hover{
        .content{
            background-color: rgba($color, 0.7);
        }
        .image {
            img{
                transform: scale(1.1);
            }
        }
    }
}

